/* ADD YOUR STYLES HERE */

.threesquares {
    display: inline-block;
    margin: auto;
    width: 760px;
    text-align: center;
    
}

.threesquares-1 {
    padding-right: 40px;
}

.threesquares-2 {
    padding-right: 40px;
}

.threesquares-3 {
    padding-right: 40px;
}

.different-html {
    width: 900px;
    display: inline-block;
}

.diffhtml {
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.helloparagraph {
    display: inline-block;
    width: 90px;
    text-align: center;
    vertical-align: top;
}

.diffhtml-img {
    display: inline-block;
    padding-bottom: 80px;
}

.ready-aim-fire {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.vs-div {
    padding-top: 80px;
    padding-bottom: 90px;
}

.horizontal-list li {
    display: inline;
    text-align: center;
    list-style-type: none;
}

.button1 {
    background-color: #E6848A;
    border: none;
    color: white;
    padding: 22px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}

.button2 {
    background-color: #E6848A;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
}

.button3 {
    background-color: #E6848A;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
     
}

.button4 {
    background-color: #E6848A;
    border: none;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.button5 {
    background-color: #E6848A;
    border: none;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.button6 {
    background-color: #E6848A;
    border: none;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.orinav {
    background-color: #E6848A;
    border-radius: 5px;
    width: 611px;
}

.nav li {
    list-style-type: none;
    background-color: #E6848A;
    border: none;
    color: white;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.nav1 {
    background-color: #E6848A;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
}

.nav2 {
    text-decoration: none;
    display: inline-block;
    background-color: #E6848A;
    color: white;
    padding-right: 25px;
    padding-left: 35px;
}

.nav3 {
    background-color: #E6848A;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 35px;
}

.nav4 {
    display: inline-block;
    background-color: #E6848A;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left:40px;
    padding-right: 25px;
}

.nav5 {
    display: inline-block;
    background-color: #E6848A;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 30px;
}

a:hover {
    background-color: #e7e7e7;
}

.ol.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ol.pagination li {display: inline;}

ol.pagination li a {
    color: #E6848A;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-bottom: 15px solid #E6848A;
    border-bottom-width: 3px;
    padding-right: 15px;
    margin-left: 3px;
}

ol.pagination li {
    background-color: #CACACA;
    color: white;
}

.active-pagination {
    color: #CACACA;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-bottom: solid #CACACA;
    margin-left: 3px;
}

ol.pagination li:first-child a {
    color: #E6848A;
    float: left;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color .3s;
    padding-right: 15px;
    margin-left: 3px;
    border: none;
}

ol.pagination li:last-child a {
    color: #E6848A;
    float: left;
    padding: 8px 10px;
    text-decoration: none;
    transition: background-color .3s;
    padding-right: 5px;
    margin-left: 3px;
    border: none;
}

.met-time {
    font-size: 12px;
    color: #CACACA;
}

.met-para {
    width: 100%;
    height: 80px;
}

.sean-image-div {
    
}

.sean-image {
    text-align: left;
}